.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.heart-svg-container {
  margin: 0 auto;
  height: auto !important;
}

.heart {
    fill: none;
    stroke: #DFE169;
    stroke-width: 8px;

/* Stroke-dasharray property */
    stroke-dasharray: 2700px;
    stroke-dashoffset: 2700px;
    animation: move 7s linear 1;
    animation-fill-mode: forwards;
}

.how-it-works-image-parent span {
  width: 100% !important;
  height: 450px !important;
  overflow: visible !important;
}

.how-it-works-image {
  min-height: unset !important;
  min-width: unset !important;
  max-height: unset !important;
  max-width: unset !important;
  width: 100% !important;
  height: auto !important;
}

.how-it-works-2-image {
  min-height: unset !important;
  min-width: unset !important;
  max-height: 35vh !important;
  max-width: 100% !important;
  width: auto !important;
  height: 100% !important;
}

@keyframes move {
    100% {
        stroke-dashoffset: 0;
    }
}

.slide-out {
  animation: slide-out-animation 3s linear 1;
  animation-fill-mode: forwards;
}

.slide-in {
  animation: slide-in-animation 3s linear 1;
  animation-fill-mode: forwards;
}

@keyframes slide-out-animation {
  0% {
    display: block;
    opacity: 1;
    position: relative;
    bottom: 0;
  }
  99% {
    display: block;
    opacity: 0;
    bottom: 500px;
  }
  100% {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}

@keyframes slide-in-animation {
  0% {
    display: block;
    opacity: 0;
    position: relative;
    bottom: 0;
  }
  100% {
    display: block;
    opacity: 1;
    bottom: 500px;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .how-it-works-image {
    height: 83vw;
  }
}

@media (max-height: 700px) {
}

@media (min-width: 1024px) {
  .how-it-works-2-image {
    max-width: unset !important;
    max-height: unset !important;
    height: 125% !important;
  }
}
